<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<table>
    <thead class="thead-dark">
    <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">STATUS</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr th:each="itemDTO : ${itemsDTO}">
        <form action="#" th:action="@{/update}" th:object="${itemDTO}" method="post">
            <td>
                <input type="text" name="id" th:value="${itemDTO.id} ">
            </td>
            <td th:text="${itemDTO.name}"></td>
            <td th:text="${itemDTO.status}"></td>
            <td>
                <select th:field="*{status}">
                    <option th:value="READY" th:text="READY"></option>
                    <option th:value="COMPLETED" th:text="COMPLETED"></option>
                </select>
                <button type="submit">Update</button>
            </td>
    </tr>
    </tbody>
</table>

</body>
</html>